name: Bazel Build

on:
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source
      uses: actions/checkout@v4

    - name: Install Bazelisk
      uses: bazelbuild/setup-bazelisk@v2
      with:
        cache: false

    - name: Build all targets
      run: bazel build
